<% content_for :outside do %>
	<div id="mapLocation"></div>
<% end %>

<% content_for :script do %>
<script type="text/javascript">
	function initMaps(){
		loadMaps(<%= @stops[0].stop_lat.to_f %>, <%= @stops[0].stop_lon.to_f %>, 15);
		map.panBy(mapsCenterPos(), 0);
		map.addMarker({
			lat: <%= @stops[0].stop_lat.to_f %>,
			lng: <%= @stops[0].stop_lon.to_f %> 
			});
	};
</script>
<% end %>

<div class="row justify-content-end">
	<div class="col-md-6">
		<h1><%= @stops[0].stop_name %></h1>
		<table id="departure_table" class="table table-striped table-sm table-striped table-responsive">
			<thead>
				<tr>
					<th colspan="2">Direction</th>
					<th> Departure </th>
				</tr>
			</thead>
			<tbody>
				<% @stop_times.each do |st| %>
		       		<tr>
		       			<td><%= route_icon(st.route) %> <%= style_route(st.route) %></td>
		       			<td><%= st.trip_headsign %> </td>
		       			<td><%= st.stop_times.take.departure_time.to_datetime.strftime("%H:%M") unless st.stop_times.take.departure_time.nil? %> </td>
		       
		       		</tr>
		   	 <% end %>
			</tbody>
		</table>
	</div>
</div>	   