<!DOCTYPE html>
<html>
  <head>
    <title>Fahrplan</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer async src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.gmaps_api_key %>&&callback=initMaps"
  type="text/javascript"></script>
    <%= yield :script %>
  </head>

  <body>
    <%= yield :outside %>
    <div class="container">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert" >
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <%= value.html_safe unless value.blank? %>
          </div>
        <% end %>
      <%= yield %>  
    </div>
    
  </body>
</html>
