<!DOCTYPE html>
<html>
  <head>
    <title>Fahrplan</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer async src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.gmaps_api_key %>&&callback=initMaps"
  type="text/javascript"></script>
    <%= yield :script %>
  </head>

  <body>
    <%= yield :outside %>
    <div class="container">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert" >
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            <%= value.html_safe unless value.blank? %>
          </div>
        <% end %>
      <%= yield %>  
    </div>
    <a href="https://github.com/justusjonas74/gtfs_sample_app"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  </body>
</html>
